releases/
samples/private/
gli.all.js
gli.all.css

core/extensions/safari/webglinspector.safariextension/contentscript.js
core/extensions/safari/webglinspector.safariextension/assets/
core/extensions/chrome/assets/
