._*
.DS_Store
.com.apple.*
releases/
samples/private/
core/lib/
gli.all.js
gli.all.css
node_modules
core/extensions/safari/webglinspector.safariextension/contentscript.js
core/extensions/safari/webglinspector.safariextension/assets/
core/extensions/chrome/assets/
core/extensions/firefox/chrome/content/assets/

