#gli-window
{
    margin: 0px;
    min-width: 500px;
    position: absolute;
    z-index: 99999;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.window-titlebar
{
    clear: both;
    background-image: url(assets/window-top-span.png);
    background-repeat: repeat-x;
    height: 23px;
}
.window-titlebar-left
{
    display: inline;
    float: left;
    position: relative;
    left: 0px;
    background-image: url(assets/window-top-left.png);
    width: 5px;
    height: 23px;
}
.window-titlebar-right
{
    display: inline;
    float: right;
    position: relative;
    right: 0px;
    background-image: url(assets/window-top-right.png);
    width: 5px;
    height: 23px;
}

.window-controls
{
    display: inline;
}
.window-control
{
    float: left;
    display: inline;
    position: relative;
    top: 5px;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 15px;
    height: 16px;
    cursor: hand;
    padding-right: 4px;
}
.window-control-minimize
{
    background-image: url(assets/window-control-minimize.png);
}
.window-control-restore
{
    background-image: url(assets/window-control-restore.png);
}

.window-titlename
{
    display: inline;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: Tahoma;
    font-size: 0.9em;
    position: relative;
    top: 3px;
}
.window-titlecap
{
    float: right;
    display: inline;
    position: relative;
    top: 5px;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 15px;
    height: 16px;
    cursor: hand;
    background-image: url(assets/window-control-record.png);
}

.window-toolbar
{
    clear: both;
    background-color: Yellow;
    height: 30px;
    background-image: url(assets/window-top-span.png);
    background-repeat: repeat-x;
    background-position: 0px -23px;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #515151;
    font-family: Tahoma;
    font-size: 0.8em;
}

.window-middle
{
    clear: both;
    margin: 0px;
    padding: 0px;
    background-color: Orange;
}

.window-frames
{
    float: left;
    width: 151px;
    margin-left: 1px;
    background-color: #dee4ea;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #b4b4b4;
    height: 200px;
}

.window-right-outer
{
    margin-left: -310px; /* -2 * window-right.width */
    width: 100%;
    float: right;
    border-right: 1px solid #9b9b9b;
}
.window-right
{
    margin-left: 155px;
    background-color: Aqua;
}

.window-trace-outer
{
    margin-left: -480px; /* -2 * window-inspector.width */
    width: 100%;
    float: right;
}
.window-trace
{
    margin-left: 240px; /* window-inspector.width */
    background-color: white;
    height: 200px;
}

.window-trace-inspector
{
    float: right;
    width: 240px;
    background-color: #dee4ea;
    border-left: 1px solid #b4b4b4;
    height: 200px;
}

.window-bottom
{
    clear: both;
    border-top: 1px solid #515151;
    background-image: url(assets/window-bottom-span.png);
    background-repeat: repeat-x;
    height: 24px;
}
.window-bottom-left
{
    display: inline;
    float: left;
    position: relative;
    left: 0px;
    background-image: url(assets/window-bottom-left.png);
    width: 5px;
    height: 24px;
}
.window-bottom-right
{
    display: inline;
    float: right;
    position: relative;
    right: 0px;
    background-image: url(assets/window-bottom-right.png);
    width: 5px;
    height: 24px;
}

.window-status
{
}

.frames-listing
{
    height: 200px; /* 200px - frames-toolbar.height */
    overflow: auto;
}

.frames-toolbar
{
    /*height: 20px;*/
    height: 0px;
    background-color: Navy;
    display: none;
    visibility: collapse;
}

.frame-item
{
    clear: both;
}
.frame-item-preview
{
    border: 1px solid blue;
}
.frame-item-number
{
    float: right;
}

.trace-minibar
{
    background-image: url(assets/minibar-span.png);
    background-repeat: repeat-x;
    border-bottom: 1px solid #9f9f9f;
    height: 19px;
}

.trace-minibar-button
{
    display: inline;
    width: 16px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding-left: 5px;
    padding-right: 5px;
}
.trace-minibar-button-enabled
{
    cursor: pointer;
}
.trace-minibar-button-disabled
{
    cursor: auto;
}
.trace-minibar-command-run
{
    background-image: url(assets/minibar-command-run.png);
}
.trace-minibar-command-step-forward
{
    background-image: url(assets/minibar-command-next.png);
}
.trace-minibar-command-step-back
{
    background-image: url(assets/minibar-command-prev.png);
}
.trace-minibar-command-step-until-draw
{
    background-image: url(assets/minibar-command-rununtil.png);
}
.trace-minibar-command-step-until-error
{
    background-image: url(assets/minibar-command-rununtil.png);
}
.trace-minibar-command-restart
{
    background-image: url(assets/minibar-command-run.png);
}

.trace-listing
{
    height: 180px; /* 200px - trace-minibar.height */
    overflow: auto;
}

.trace-call
{
    clear: both;
    height: 17px;
}
.trace-call-icon
{
    float: left;
    width: 16px;
    height: 16px;
}
.trace-call-icon-error
{
    background-color: Red;
}
.trace-call-icon-active
{
    background-color: Green;
}
.trace-call-line
{
    float: left;
}
.trace-call-timing
{
    float: right;
}





















.hud
{
    margin: 0px;
    position: absolute;
    z-index: 99999;
}

.hud-titlebar
{
    clear: both;
    background-color: Blue;
}

.hud-titlename
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.hud-controls
{
    float: right;
}
.hud-control
{
    display: inline;
}
.hud-control-minimize
{
}
.hud-control-restore
{
}

.hud-toolbar
{
    clear: both;
    background-color: Yellow;
    height: 25px;
}

.hud-middle
{
    clear: both;
    margin: 0px;
    padding: 0px;
    background-color: Orange;
}

.hud-bottom
{
    clear: both;
    background-color: Red;
}

.hud-status
{
    background-color: Blue;
}

#gli-statehud
{
    right: 550px;
    top: 5px;
    min-width: 450px;
}

.state-listing
{
    overflow: auto;
    height: 300px;
}

.state-row
{
    clear: both;
}
.state-row-name
{
    float: left;
    text-align: right;
}
.state-row-value
{
}
.state-row-value-enum
{
}
.state-row-value-numeric
{
    width: 5em;
}
.state-row-value-string
{
    width: 20em;
}

#gli-outputhud
{
    right: 5px;
    top: 5px;
    min-width: 150px;
}
