#gli-window
{
    margin: 0px;
    min-width: 500px;
    position: absolute;
    z-index: 99999;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.window-titlebar
{
    clear: both;
    background-color: Blue;
}

.window-titlename
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.window-titlecap
{
    display: inline;
    width: 16px;
    height: 16px;
}

.window-controls
{
    float: right;
}
.window-control
{
    display: inline;
}
.window-control-minimize
{
}
.window-control-maximize
{
}
.window-control-restore
{
}

.window-toolbar
{
    clear: both;
    background-color: Yellow;
    height: 25px;
}

.window-middle
{
    clear: both;
    margin: 0px;
    padding: 0px;
    background-color: Orange;
}

.window-frames
{
    float: left;
    width: 150px;
    background-color: Green;
    height: 200px;
}

.window-right-outer
{
    margin-left: -300px;
    width: 100%;
    float: right;
}
.window-right
{
    margin-left: 150px;
    background-color: Aqua;
}

.window-trace-outer
{
    margin-left: -480px; /* -2 * window-inspector.width */
    width: 100%;
    float: right;
}
.window-trace
{
    margin-left: 240px; /* window-inspector.width */
    background-color: Gray;
    height: 200px;
}

.window-inspector
{
    float: right;
    width: 240px;
    background-color: Fuchsia;
    height: 200px;
}

.window-bottom
{
    clear: both;
    background-color: Red;
}

.window-status
{
    background-color: Blue;
}

.frames-listing
{
    height: 180px; /* 200px - frames-toolbar.height */
    overflow: auto;
}

.frames-toolbar
{
    height: 20px;
    background-color: Navy;
}

.frame-item
{
    clear: both;
}
.frame-item-preview
{
    background-color: Red;
}
.frame-item-number
{
    float: right;
}

.trace-minibar
{
    background-color: Lime;
    height: 20px;
}

.trace-listing
{
    height: 180px; /* 200px - trace-minibar.height */
    overflow: auto;
}

.trace-call
{
    clear: both;
    height: 17px;
}
.trace-call-icon
{
    float: left;
    width: 16px;
    height: 16px;
    background-color: Red;
}
.trace-call-line
{
    float: left;
}
.trace-call-timing
{
    float: right;
}
